@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark; 
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --header-position: sticky 
  --content-offset: 116px; 
  --header-height: 180px; 
  --header-mb: -116px; 
  --header-top: 0px; 
  --avatar-top: 0px; 
  --avatar-image-transform: translate3d(0rem, 0, 0) scale(1); 
  --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0) scale(1.7777777777777777); 
  --avatar-border-opacity: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height:var(--header-height);
  margin-bottom:var(--header-mb);
}